body {
	background-color: #F0F0F0;

}

.anchor {
	color: #000;
}

.anchor:hover {
	text-decoration: none;
	color: #000;
}

.container {
	margin-top: 5em;
	margin-bottom: 5em;
	background-color: #fff;
	height: auto;
}

.content, .pictureContent {
	margin-top: 2em;
	margin-bottom: 2em;
}

#footer {
	height: 1.5em;
	min-height: 1.5em;
}

.pictureContent img {
	padding: .5em;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

.shadow {
	-webkit-box-shadow: 0px 5px 20px 0px rgba(50, 50, 50, 0.57);
	-moz-box-shadow:    0px 5px 20px 0px rgba(50, 50, 50, 0.57);
	box-shadow:         0px 5px 20px 0px rgba(50, 50, 50, 0.57);
}
